.form {
  max-width: 68.5rem;
  height: 6.4rem;
  background: #f3f3f3;
  border-radius: 32px;
  border: none;

  display: flex;
  flex-direction: row;
  padding: 1.4rem 3rem;
  position: relative;
}

.form_input {
  flex-grow: 2;
  border: none;
  outline: none;
  font-size: 2rem;
  line-height: 25px;
  background: #f3f3f3;
  color: #929292;
}

.send_btn {
  background: none;
  background: #f3f3f3;
  border: none;
}

/* iPhone X and Xs Max */
@media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) { 
    .form{
      padding: 1.6rem 2rem;
      margin: 0;
      border: none;
      border-radius: 0;
      width: 100%;
    }

    
}

/* Animation */
@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
  }
}

.saving span {
 
  animation-name: blink;
 
  animation-duration: 1.4s;

  animation-iteration-count: infinite;

  animation-fill-mode: both;
}

.saving span:nth-child(2) {
 
  animation-delay: .2s;
}

.saving span:nth-child(3) {
 
  animation-delay: .4s;
}

.saving{
  font-size: 10rem;
  color:white;
  text-align: right;
  display: inline;
}

.typing-container{
  position: absolute;
  display: inline;
  top: 59rem;
  right: 35rem;
}