.form {
  max-width: 68.5rem;
  height: 6.4rem;
  background: #f3f3f3;
  border-radius: 32px;
  border: none;

  display: flex;
  align-items:center;
  justify-items: center;
  padding: 1.4rem 3rem;
  position: relative;
}

.form_input {
  flex-grow: 2;
  border: none;
  outline: none;
  font-size: 2rem;
  line-height: 25px;
  background: #f3f3f3;
  color: #929292;
}

.send_btn {
  background: none;
  background: #f3f3f3;
  border: none;
}

/* Animation */
@keyframes blink {

  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}

.typing span {
 
  animation-name: blink;
 
  animation-duration: 1.1s;

  animation-iteration-count: infinite;

  animation-fill-mode: both;
}

.typing span:nth-child(2) {
 
  animation-delay: .2s;
}

.typing span:nth-child(3) {
 
  animation-delay: .4s;
}

.typing{
  font-size: 10rem;
  color:white;
  text-align: right;
  display: inline;
}

.typing-container{
  position: absolute;
  display: inline;
  align-self: flex-end;
  top: 50rem;
  margin-left: -3rem;
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
   
}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .form{
      padding: 1.6rem 2rem;
      margin: 0;
      border: none;
      border-radius: 0;
      width: 100%;
    }

    .typing-container{
      top: 40rem;
      display: none;
    }

    .typing{
      margin-right: -1.7rem;
      margin-left: 0;
    }

    .send_btn{
      margin: 1.5rem 0rem 2.5rem 0;
    }
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .form{
      padding: 1.6rem 2rem;
      margin: 0;
      border: none;
      border-radius: 0;
      width: 100%;
    }

    .typing-container{
      top: 50rem;
      right: 2rem;
      display: block;
    }

    .send_btn{
      margin: 2rem 0rem 2.5rem 0;
    }
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .typing-container{
      top: 56rem;
      right: 3.4rem;
      display: block;
    }

}


/* ----------- iPhone X -----------

/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) { 
    .form{
      padding: 1.6rem 2rem;
      margin: 0;
      border: none;
      border-radius: 0;
      width: 100%;
    }

    .typing-container{
      top: 63.5rem;
      right: 3.2rem;
      display: block;
    }

    .send_btn{
      margin: 2.5rem 0rem 2.5rem 0;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .typing-container{
      top: 72.5rem;
      display: block;
    }
} 

/* ----------- iPad Pro 9.7" ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait)  {
    .typing-container{
      top: 103rem;
      display: block;
    }
  } 