.chat_header p {
  font-family: Halant;
  font-style: normal;
  font-weight: bold;
  font-size: 5.8rem;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.chat_header {
  width: 77.9rem;
  padding: 0;
  margin: 0;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .chat_header {
      width: 100%;
      height: 6.4rem;
      padding: .7rem 0 4.2rem 2rem;
    }
  
    .chat_header p{
        font-size: 3.2rem;
        line-height: 5rem;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .chat_header {
      width: 100%;
      height: 6.4rem;
      padding: .7rem 0 4.2rem 2rem;
    }
  
    .chat_header p{
        font-size: 3.2rem;
        line-height: 5rem;
    }
}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .chat_header {
    width: 100%;
    height: 7vh;
    padding: .7rem 0 2.2rem 2rem;
  }

  .chat_header p{
      font-size: 3rem;
      line-height: 5rem;
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .chat_header {
      width: 90%;
      height: 6.4rem;
      padding: .7rem 0 4.2rem 2rem;
    }
  
    .chat_header p{
        font-size: 5.8rem;
        line-height: 5rem;
    }
}

/* ----------- iPad Pro 9.7" ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait)  {
    .chat_header{
      width: 70%;
    }
  } 