.chat_header p{
    font-family: Halant;
    font-style: normal;
    font-weight: bold;
    font-size: 5.8rem;
    line-height: 9.1rem;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.chat_header{
    width: 77.9rem;
    padding: 0;
    margin: 0;
}


