.Chat {
  width: 77rem;
  height: 79vh;
  background: #282828;
  padding: 0 4rem 4rem;
  margin: 4rem 0 3rem 0;
  border: 1px solid #ededed;
  border-radius: 37.5px;
  

  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .Chat{
      width: 100vw;
      height: 93vh;
      border: none;
      padding: 0;
      margin: 0;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .Chat{
      width: 100vw;
      height: 93vh;
      border: none;
      padding: 0;
      margin: 0;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) { 
    .Chat{
      width: 100vw;
      height: 93vh;
      border: none;
      padding: 0;
      margin: 0;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .Chat{
      width: 95vw;
    }
}

/* ----------- iPad Pro 9.7" ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait)  {
    .Chat{
      width: 70rem;
    }
  } 